@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color: #15766A;
$secondary-color: #E83028;
$tertiary-color: #FF730E;

$text-color: #696E76;
$secondary-text-color: #535152;
$primary-btn-text-color: #FFFFFF;

$base-font-family: proxima-nova, sans-serif;
