#announcements {
  @extend %half-section;

  .container {
    max-height: calc(15vh + 416px + 14vw);
    overflow-y: scroll;
  }

  .loading {
    margin-top: 1rem;
  }
}

.announcement {
  padding: 16px 0;
  border-bottom: 3px solid $green;
  text-align: left;

  h1 {
    font-size: $heading-font-size;
    margin-bottom: 8px;
  }

  .message {
    line-height: 20px;
    margin-bottom: 10px;
  }

  .ts {
    font-size: $base-font-size - 2px;
    margin-top: 0.25rem;
    color: $gray;
  }

  a {
    text-decoration: underline;
  }
}

@media screen and (max-width: $mobile-screen) {
  #announcements {
    .container {
      max-height: 30vh;
    }
  }
}
