$timer-component-width: 7.5vw;
$timer-space: 2vw;

#countdown {
  @extend %section;

  hr {
    width: 40vw;
    border: 1px solid $gray;
    margin: 0 auto;
  }
}

#countdown-heading {
  font-size: $heading-font-size;
  text-transform: uppercase;
  width: 100%;
  margin-top: 20px;
}

#timer {
  @include flex(row nowrap, center, center);
  font-family: $avenir-heavy;
  font-size: 2.5vw;
  color: $green;

  span {
    font-size: 3.5vw;
    width: $timer-space;
  }
}

.timerComponent {
  width: $timer-component-width;
}

.timeUnits {
  @include flex(row nowrap, center, center);
  width: 36vw;
  margin: auto;
  color: $gray;

  svg {
    position: relative;
    top: -10px;
    height: 10px;
    width: 10px;

    circle {
      cx: 5;
      cy: 5;
      r: 5;
      fill: $gray;
    }
  }
}

.timeUnit {
  width: $timer-component-width;
  margin-right: $timer-space;

  &:last-child {
    margin-right: 0;
  }
}
