#footer {
  @extend %menu;
  bottom: 0;
  font-size: 6px;

  @include flex(row nowrap, space-between, stretch);
}

.footer-tab {
  @include flex(column nowrap, flex-end, center);
  height: 100%;
  width: 20vw;
  padding: 10px;

  color: $dark-gray;

  img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  #footer {
    display: none;
  }
}
