#hackpacks {
  @extend %half-section;
}

#sidebar {
  .container {
    @include flex(row wrap, space-between, center);
    margin-bottom: -2.5%;

    a {
      flex: 0 0 47.5%;
      margin: 2.5% 0;
    }
  }

  .main-button {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: $tablet-screen) {
  #sidebar {
    .container {
      a {
        button {
          font-size: 1rem;
        }
        margin: 10px 0;
      }
    }
  }
}
