#mobile-hud {
  @extend %section;
  background: transparent;
  padding: 0;

  .message a {
    text-decoration: underline;
  }

  .main-button {
    margin-top: 0.75rem;
    display: inline-block;
    font-size: 15px;

    & + .main-button {
      margin-left: $small-space / 2;
    }
  }

  display: none;
  @media screen and (max-width: $mobile-screen) {
    display: block;
  }
}
