#resources {
  @extend %section;
  @include flex(row nowrap, center, center);
  padding: 0;
  border-radius: 12px;
}

.resource {
  width: $section-width/6;
  padding: 12px 0;
  box-shadow: 1px 0px $gray;

  &:last-child {
    box-shadow: none;
  }
}

.resource-icon {
  width: 30px;
  padding-right: 10px;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  #resources {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  #resources {
    font-size: 12px;
  }

  .resource-icon {
    width: 20px;
  }
}
