#admin_announcements_title {
	text-align:center;
	margin-top:0px!important;
}

#admin_announcement {
	width:60%;
	height:60px;
	outline:0;
	display:block!important;
	margin:0px auto!important;
	font-size: 32px;
	font-family: "Proxima Nova";
	padding-left:20px;
	margin-top:80px!important;
}

#admin_submit_container {
	display:block;
	margin:0px auto;
	width:50%;
	margin-bottom:180px;
}

#admin_password {
	width:44%;
	float:left;
	height:56px;
	outline:0;
	font-size: 28px;
	font-family: "Proxima Nova";
	padding-left:20px;
	margin-top:40px;
}

#admin_finish {
	width:44%;
	float:right;
	height:48px;
	background-color:#27ae60;
	margin-top:40px;
	color:white;
	text-align:center;
	padding-top:14px;
	font-size: 24px;
	cursor:pointer;
	margin-bottom:60px;
}

#admin_finish:hover {
	background-color:#2ecc71;
}

.admin_announcement_container {
	width:60%;
	height:60px;
	display:block!important;
	margin:0px auto!important;
	background-color:#E2C1BF;
}

.admin_announcement_text {
	padding-top:4px;
	padding-left:20px;
	float:left;
}

.admin_delete {
	float:right;
	clear:both;
	padding-right:20px;
	margin-top:-34px;
}